* {
	background-color: lightyellow;
}

.red {
	font-size: 2em;
	color: red;
}

.green {
	font-size: 2em;
	color: green;
}

.poisined {
	font-size: 4em;
	color: orange;
}

.hidden {
	visibility: hidden;
}